fastapi
uvicorn[standard]
pdfminer.six
pdfkit
python-multipart
fastapi-mail
python-jose
passlib[bcrypt]
sqlmodel
openai==0.28.1
aiofiles
jinja2
httpx
python-dotenv
razorpay
setuptools
reportlab>=3.6.0
pytesseract
pdf2image
PyMuPDF
Pillow
pdfplumber
google-generativeai==0.7.2